*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --principalColor: rgb(0, 208, 255);
}
body{
  font-family: 'Rubik', sans-serif;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.site{
  display: flex;
  flex-direction: column;
}
.header{
  height: 12vh;
  width: 100vw;
  background-color: var(--principalColor);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
header a{
  font-size: 22px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header a:hover{
  color: rgb(245, 245, 220);
  height: 3.5vh;
  border-bottom: 1px solid beige;
}
.iconMenu{
  display: none;
}
.main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.img{
  margin-top: 10vh;
}
.content{
  display: flex;
  flex-direction: column;

  text-align: justify;
  gap: 4vh;
}
.content a{
  text-decoration: none;
}
.btn{
  width: auto;
  height: 5vh;

  color: white;
  background-color: var(--principalColor);

  border: none;
  border-radius: 8px;

  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
  background-color: white;
  color: var(--principalColor);

  border: 1px solid var(--principalColor);
  cursor: pointer;
}
@media (max-width: 600px)
{
  body{
    font-family: 'Rubik', sans-serif;
    background: url(img/backgroundMob.png);
    
  }
  header a{
    display: none;
  }
  .header{
    display: flex;
    justify-content: space-between;
    padding-inline: 5vw;
  }
  .iconMenu{
    display: flex;
  }
  .iconMenu:hover{
    height: auto;
    border: none;
  }
  .main .img{
    margin-top: 5vh;
  }
}
