*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --principalColor: rgb(0, 208, 255);
}
body{
  font-family: 'Rubik', sans-serif;
  background-image: url(img/background.png);
}
.header{
  height: 12vh;
  width: 100vw;
  background-color: var(--principalColor);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
header a{
  font-size: 22px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header a:hover{
  color: beige;
  height: 3.5vh;
  border-bottom: 1px solid beige;
}
.main{
  display: flex;
  margin-top: 11vh;
  flex-wrap: wrap;
}
.main img{
  margin-top: 4vh;
  margin-left: 15vw;
}
.content{
  display: flex;
  flex-direction: column;

  width: 40vw;
  margin-top: 10vh;
  margin-left: 15vw;

  text-align: justify;
  gap: 2vh;
}
.content a{
  text-decoration: none;
}
.btn{
  width: 15vw;
  height: 6vh;
  margin-top: 10vh;

  color: white;
  background-color: var(--principalColor);

  border: none;
  border-radius: 8px;

  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
  background-color: white;
  color: var(--principalColor);

  border: 1px solid var(--principalColor);
  cursor: pointer;
}
